In [1]:
# imports
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [6]:
# load training data
df = pd.read_csv('training_set_VU_DM.csv')

In [3]:
df

,srch_id,date_time,site_id,visitor_location_country_id,visitor_hist_starrating,visitor_hist_adr_usd,prop_country_id,prop_id,prop_starrating,prop_review_score,...,comp6_rate_percent_diff,comp7_rate,comp7_inv,comp7_rate_percent_diff,comp8_rate,comp8_inv,comp8_rate_percent_diff,click_bool,gross_bookings_usd,booking_bool
0,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,893,3,3.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
1,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,10404,4,4.0,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
2,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,21315,3,4.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
3,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,27348,2,4.0,...,NaN,NaN,NaN,NaN,-1.0,0.0,5.0,0,NaN,0
4,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,29604,4,3.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4958342,332785,2013-06-30 19:55:18,5,219,NaN,NaN,219,77700,3,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0
4958343,332785,2013-06-30 19:55:18,5,219,NaN,NaN,219,88083,3,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0
4958344,332785,2013-06-30 19:55:18,5,219,NaN,NaN,219,94508,3,3.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0
4958345,332785,2013-06-30 19:55:18,5,219,NaN,NaN,219,128360,3,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,157.84,1
4958346,332785,2013-06-30 19:55:18,5,219,NaN,NaN,219,134949,3,2.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0

In [8]:
#df

pd.set_option('display.float_format', lambda x: '%.2f' % x)
# df.describe().loc[['min', 'max'], :].transpose()
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
srch_id,4958347.00,166366.56,96112.23,1.00,82936.00,166507.00,249724.00,332785.00
site_id,4958347.00,9.95,7.65,1.00,5.00,5.00,14.00,34.00
visitor_location_country_id,4958347.00,175.34,65.92,1.00,100.00,219.00,219.00,231.00
visitor_hist_starrating,251866.00,3.37,0.69,1.41,2.92,3.45,3.93,5.00
visitor_hist_adr_usd,252988.00,176.02,107.25,0.00,109.81,152.24,213.49,1958.70
prop_country_id,4958347.00,173.97,68.35,1.00,100.00,219.00,219.00,230.00
prop_id,4958347.00,70079.18,40609.92,1.00,35010.00,69638.00,105168.00,140821.00
prop_starrating,4958347.00,3.18,1.05,0.00,3.00,3.00,4.00,5.00
prop_review_score,4950983.00,3.78,1.05,0.00,3.50,4.00,4.50,5.00
prop_brand_bool,4958347.00,0.63,0.48,0.00,0.00,1.00,1.00,1.00
prop_location_score1,4958347.00,2.87,1.53,0.00,1.79,2.77,4.04,6.98
prop_location_score2,3867999.00,0.13,0.16,0.00,0.02,0.07,0.18,1.00
prop_log_historical_price,4958347.00,4.32,1.83,0.00,4.45,4.91,5.31,6.21
position,4958347.00,16.86,10.43,1.00,8.00,16.00,26.00,40.00
price_usd,4958347.00,254.21,16001.24,0.00,85.00,122.00,184.96,19726328.00
promotion_flag,4958347.00,0.22,0.41,0.00,0.00,0.00,0.00,1.00
srch_destination_id,4958347.00,14042.63,8111.84,2.00,7101.00,13541.00,21084.00,28416.00
srch_length_of_stay,4958347.00,2.39,2.05,1.00,1.00,2.00,3.00,57.00
srch_booking_window,4958347.00,37.47,51.99,0.00,4.00,17.00,48.00,492.00
srch_adults_count,4958347.00,1.97,0.86,1.00,2.00,2.00,2.00,9.00
srch_children_count,4958347.00,0.35,0.73,0.00,0.00,0.00,0.00,9.00
srch_room_count,4958347.00,1.11,0.42,1.00,1.00,1.00,1.00,8.00
srch_saturday_night_bool,4958347.00,0.50,0.50,0.00,0.00,1.00,1.00,1.00
srch_query_affinity_score,317406.00,-24.15,15.74,-326.57,-30.77,-20.45,-13.35,-2.49
orig_destination_distance,3350565.00,1301.23,2023.95,0.01,139.80,386.60,1500.67,11666.64
random_bool,4958347.00,0.30,0.46,0.00,0.00,0.00,1.00,1.00
comp1_rate,119930.00,0.48,0.64,-1.00,0.00,1.00,1.00,1.00
comp1_inv,129559.00,0.03,0.23,-1.00,0.00,0.00,0.00,1.00
comp1_rate_percent_diff,94439.00,244.23,1165.45,2.00,7.00,10.00,16.00,30389.00
comp2_rate,2024672.00,0.04,0.45,-1.00,0.00,0.00,0.00,1.00
comp2_inv,2130269.00,0.04,0.23,-1.00,0.00,0.00,0.00,1.00
comp2_rate_percent_diff,556238.00,18.49,240.11,2.00,7.00,11.00,20.00,168893.00
comp3_rate,1534288.00,0.02,0.46,-1.00,0.00,0.00,0.00,1.00
comp3_inv,1650990.00,0.06,0.29,-1.00,0.00,0.00,0.00,1.00
comp3_rate_percent_diff,472797.00,27.07,1012.92,2.00,7.00,11.00,18.00,199266.00
comp4_rate,307378.00,-0.02,0.58,-1.00,0.00,0.00,0.00,1.00
comp4_inv,343663.00,0.10,0.34,-1.00,0.00,0.00,0.00,1.00
comp4_rate_percent_diff,131086.00,175.32,5757.74,2.00,7.00,11.00,19.00,1001584.00
comp5_rate,2222373.00,0.02,0.52,-1.00,0.00,0.00,0.00,1.00
comp5_inv,2360020.00,0.05,0.27,-1.00,0.00,0.00,0.00,1.00
comp5_rate_percent_diff,841099.00,29.85,1340.26,2.00,7.00,12.00,21.00,607561.00
comp6_rate,240157.00,0.13,0.56,-1.00,0.00,0.00,0.00,1.00
comp6_inv,260976.00,0.08,0.30,-1.00,0.00,0.00,0.00,1.00
comp6_rate_percent_diff,96174.00,17.25,31.16,2.00,6.00,11.00,18.00,1620.00
comp7_rate,315348.00,0.15,0.58,-1.00,0.00,0.00,1.00,1.00
comp7_inv,356422.00,0.08,0.32,-1.00,0.00,0.00,0.00,1.00
comp7_rate_percent_diff,138515.00,19.43,54.37,2.00,7.00,12.00,20.00,9900.00
comp8_rate,1916654.00,-0.06,0.47,-1.00,0.00,0.00,0.00,1.00
comp8_inv,1987503.00,0.01,0.20,-1.00,0.00,0.00,0.00,1.00
comp8_rate_percent_diff,614730.00,22.43,895.97,2.00,7.00,11.00,17.00,149400.00
click_bool,4958347.00,0.04,0.21,0.00,0.00,0.00,0.00,1.00
gross_bookings_usd,138390.00,386.28,821.19,0.00,124.00,218.40,429.79,159292.38
booking_bool,4958347.00,0.03,0.16,0.00,0.00,0.00,0.00,1.00

In [5]:
df.isnull().sum()
#df.columns[df.isna().any()].tolist()

srch_id                              0
date_time                            0
site_id                              0
visitor_location_country_id          0
visitor_hist_starrating        4706481
visitor_hist_adr_usd           4705359
prop_country_id                      0
prop_id                              0
prop_starrating                      0
prop_review_score                 7364
prop_brand_bool                      0
prop_location_score1                 0
prop_location_score2           1090348
prop_log_historical_price            0
position                             0
price_usd                            0
promotion_flag                       0
srch_destination_id                  0
srch_length_of_stay                  0
srch_booking_window                  0
srch_adults_count                    0
srch_children_count                  0
srch_room_count                      0
srch_saturday_night_bool             0
srch_query_affinity_score      4640941
orig_destination_distance      1607782
random_bool                          0
comp1_rate                     4838417
comp1_inv                      4828788
comp1_rate_percent_diff        4863908
comp2_rate                     2933675
comp2_inv                      2828078
comp2_rate_percent_diff        4402109
comp3_rate                     3424059
comp3_inv                      3307357
comp3_rate_percent_diff        4485550
comp4_rate                     4650969
comp4_inv                      4614684
comp4_rate_percent_diff        4827261
comp5_rate                     2735974
comp5_inv                      2598327
comp5_rate_percent_diff        4117248
comp6_rate                     4718190
comp6_inv                      4697371
comp6_rate_percent_diff        4862173
comp7_rate                     4642999
comp7_inv                      4601925
comp7_rate_percent_diff        4819832
comp8_rate                     3041693
comp8_inv                      2970844
comp8_rate_percent_diff        4343617
click_bool                           0
gross_bookings_usd             4819957
booking_bool                         0
dtype: int64

In [9]:
# number of unique values over all columns
df.nunique()

srch_id                        199795
date_time                      198615
site_id                            34
visitor_location_country_id       210
visitor_hist_starrating           312
visitor_hist_adr_usd             7799
prop_country_id                   172
prop_id                        129113
prop_starrating                     6
prop_review_score                  10
prop_brand_bool                     2
prop_location_score1              337
prop_location_score2             9342
prop_log_historical_price         392
position                           40
price_usd                       76465
promotion_flag                      2
srch_destination_id             18127
srch_length_of_stay                36
srch_booking_window               429
srch_adults_count                   9
srch_children_count                10
srch_room_count                     8
srch_saturday_night_bool            2
srch_query_affinity_score      199387
orig_destination_distance      530595
random_bool                         2
comp1_rate                          3
comp1_inv                           3
comp1_rate_percent_diff          1830
comp2_rate                          3
comp2_inv                           3
comp2_rate_percent_diff           596
comp3_rate                          3
comp3_inv                           3
comp3_rate_percent_diff           534
comp4_rate                          3
comp4_inv                           3
comp4_rate_percent_diff           482
comp5_rate                          3
comp5_inv                           3
comp5_rate_percent_diff           645
comp6_rate                          3
comp6_inv                           3
comp6_rate_percent_diff           380
comp7_rate                          3
comp7_inv                           3
comp7_rate_percent_diff           585
comp8_rate                          3
comp8_inv                           3
comp8_rate_percent_diff           491
click_bool                          2
gross_bookings_usd              60687
booking_bool                        2
dtype: int64

In [ ]:
# columns to check for outliers
list = ['visitor_hist_starrating', 'visitor_hist_adr_usd', 'prop_starrating', 'prop_review_score', 'prop_location_score1',
        'prop_location_score2', 'prop_log_historical_price', 'position', 'price_usd', 'srch_length_of_stay', 
       'srch_booking_window', 'srch_adults_count', 'srch_children_count', 'srch_room_count', 'srch_query_affinity_score',
       'orig_destination_distance', 'comp1_rate_percent_diff', 'comp2_rate_percent_diff', 'comp3_rate_percent_diff', 
       'comp4_rate_percent_diff', 'comp5_rate_percent_diff', 'comp6_rate_percent_diff', 'comp7_rate_percent_diff', 
       'comp8_rate_percent_diff',  'gross_bookings_usd'
       ]
# print boxplot for every column
for col in list:
    print(col)
    sns.boxplot(y=df[col])
    plt.show()

Features engineering and removal

In [1]:
# imports
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
# load training data
df = pd.read_csv('training_set_VU_DM.csv')

In [2]:
from functions import comp_aggregation, remove_variables, impute_missing_values

df = comp_aggregation(df)
df = remove_variables(df)
df = impute_missing_values(df)

c:\Users\nikki\Documents\Master\DMT\DM2\functions.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  missing_set[dependent] = predicted_values
c:\Users\nikki\Documents\Master\DMT\DM2\functions.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  missing_set[dependent] = predicted_values
c:\Users\nikki\Documents\Master\DMT\DM2\functions.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  missing_set[dependent] = predicted_values

In [3]:

df.isnull().sum()

srch_id                              0
date_time                            0
site_id                              0
visitor_location_country_id          0
prop_country_id                      0
prop_id                              0
prop_starrating                      0
prop_review_score                    0
prop_brand_bool                      0
prop_location_score1                 0
prop_location_score2                 0
prop_log_historical_price            0
position                             0
price_usd                            0
promotion_flag                       0
srch_destination_id                  0
srch_length_of_stay                  0
srch_booking_window                  0
srch_adults_count                    0
srch_children_count                  0
srch_room_count                      0
srch_saturday_night_bool             0
orig_destination_distance            0
random_bool                          0
click_bool                           0
gross_bookings_usd             4819957
booking_bool                         0
comp_rate_ratio                      0
comp_inv_ratio                       0
dtype: int64