In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt 
import itertools
import functions as fn 
from sklearn.neighbors import NearestNeighbors
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from category_encoders import TargetEncoder

In [2]:
data = pd.read_csv('/Users/ryonamba/Documents/VU/VU-master_year_1/data_mining/assignment_2/code_personal/training_set_VU_DM.csv')
data_test = pd.read_csv('/Users/ryonamba/Documents/VU/VU-master_year_1/data_mining/assignment_2/code_personal/test_set_VU_DM.csv')

In [3]:
data

,srch_id,date_time,site_id,visitor_location_country_id,visitor_hist_starrating,visitor_hist_adr_usd,prop_country_id,prop_id,prop_starrating,prop_review_score,...,comp6_rate_percent_diff,comp7_rate,comp7_inv,comp7_rate_percent_diff,comp8_rate,comp8_inv,comp8_rate_percent_diff,click_bool,gross_bookings_usd,booking_bool
0,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,893,3,3.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
1,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,10404,4,4.0,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
2,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,21315,3,4.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
3,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,27348,2,4.0,...,NaN,NaN,NaN,NaN,-1.0,0.0,5.0,0,NaN,0
4,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,29604,4,3.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4958342,332785,2013-06-30 19:55:18,5,219,NaN,NaN,219,77700,3,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0
4958343,332785,2013-06-30 19:55:18,5,219,NaN,NaN,219,88083,3,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0
4958344,332785,2013-06-30 19:55:18,5,219,NaN,NaN,219,94508,3,3.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0
4958345,332785,2013-06-30 19:55:18,5,219,NaN,NaN,219,128360,3,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,157.84,1
4958346,332785,2013-06-30 19:55:18,5,219,NaN,NaN,219,134949,3,2.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0

#### KNN classifier

-> would work a lot better with normalized data

##### Dummy preprocessing

In [4]:
# comp vars aggregation 
df_knn = data.copy()
df_knn = fn.comp_aggregation(df_knn)
# adding relevance score 
df_knn["relevance"] = df_knn["booking_bool"].apply(lambda x: 5 if x == 1 else 0) + df_knn["click_bool"].apply(lambda x: 1 if x == 1 else 0) # does 5+1 btw
# drop datetime
df_knn = df_knn.drop(columns="date_time")
# replace all NaN with 0 -> temporary measure 
df_knn = df_knn.fillna(0)

# use only a subset of data 
df_small = df_knn.head(100000)

# split dataset - TODO: make sure not to split the query & property groups 
X = df_small.drop(columns="relevance")
X_train, X_test, y_train, y_test = train_test_split(X, df_small["relevance"], test_size=0.2, random_state=42)

# TODO: drop position

##### Fitting model

In [5]:
knn = NearestNeighbors(n_neighbors=5, algorithm='ball_tree', metric='euclidean')
knn.fit(X_train, y_train)
# distances & indices of nearest neighbors (from train set) for each datapoint in the test set 
distances, indices = knn.kneighbors(X_test)  # around 12 minutes on full dataset

##### Predicting relevance/ranking score

In [6]:
neighbor_values = []
# get relevance values of neighbors (from x_train) for x_test 
for neighbor_ids in indices:
    y_train_values = [ y_train.iloc[i] for i in neighbor_ids ]
    neighbor_values.append(y_train_values)
    
# get average relevance for each train instance 
relevance_average = np.mean(neighbor_values, axis=1)

In [7]:
# save property id & search id according to indices 
output_df = X_test[['srch_id', 'prop_id']].copy()
output_df['true_relevance'] = y_test
output_df['predicted_relevance'] = relevance_average

output_df

       srch_id  prop_id  true_relevance  predicted_relevance
75721     5069    85578               0                  0.0
80184     5378    99219               0                  0.0
19864     1345    76996               0                  0.0
76699     5135    24242               0                  0.0
92991     6258    63963               0                  0.0
...        ...      ...             ...                  ...
32595     2199    14107               0                  0.0
29313     1969   118631               1                  0.0
37862     2534    86606               0                  0.0
53421     3527    52375               0                  0.0
42410     2832   139951               0                  0.0

[20000 rows x 4 columns]

In [8]:
# np.savetxt('knn_test_output.txt', np.asarray(output_df))

##### calculating NDCG score based on ranking

how??? 

rank the grouped instances based on their rank? 
then rank the predicted grouped instances based on their ranks? 
then compute? 

--> think I should use the kaggle benchmarks thing 

Ok, do this -> use wikipedia formula, with relevance score in calculation (for true values) and ordering for predicted values ig.

In [9]:
# TODO

In [10]:
# rank the input according to their relevance scores?

#### Little writeup 

With this knn we are getting the nearest neighbors (from the train set) for each datapoint in the test set. 
We then get all the relevance values of these neighbors
We then assign the average of those relevance values to each x in the test set. 
Then we create the ranking by grouping by search id and property id and ranking according to relevance score. 

Performance is currenlty horrendous, need to do a lot of pre-processing

#### categorical feature encoding thing

categorical variables: 

(no mods to prop_id & search_id, although why not?? TODO)

- site_id -> ID of the point of sale (.com, .fr, ...)
- visitor_location_country_id -> ID of country where customer is located
- prop_country_id -> ID of country hotel is in
- prop_brand_bool -> 1: if the hotel is part of a major chain, 0: if not 
- promotion_flag -> 1: if there was a promotion, 0: if not 
- srch_destination_id -> ID of destination where hotel search was performed 
- srch_length_of_stay -> nb of nights in search query
- srch_booking_window -> nb of days between search & stay date 
- srch_adults_count -> nb of adults in search query 
- srch_children_count -> nb of children in search query 
- srch_room_count -> tf is even this 
- srch_saturday_night_bool -> 1: if includes saturday night, 0: if not

In [11]:
dummy_data = fn.comp_aggregation(data.iloc[:10000].copy())
dummy_data["relevance"] = dummy_data["booking_bool"].apply(lambda x: 5 if x == 1 else 0) + df_knn["click_bool"].apply(lambda x: 1 if x == 1 else 0) # does 5+1 btw

In [12]:
dummy_data = fn.categorical_encoding(dummy_data)
dummy_data

,srch_id,date_time,visitor_hist_starrating,visitor_hist_adr_usd,prop_id,prop_starrating,prop_review_score,prop_brand_bool,prop_location_score1,prop_location_score2,...,visitor_location_country_id,promotion_flag,srch_destination_id,srch_length_of_stay,srch_booking_window,srch_adults_count,srch_children_count,srch_room_count,srch_saturday_night_bool,relevance
0,1,2013-04-04 08:32:15,NaN,NaN,893,3,3.5,1,2.83,0.0438,...,0.214286,0.155733,0.214286,0.208236,0.208487,0.188748,0.179428,0.180537,0.195467,0.0
1,1,2013-04-04 08:32:15,NaN,NaN,10404,4,4.0,1,2.20,0.0149,...,0.214286,0.155733,0.214286,0.208236,0.208487,0.188748,0.179428,0.180537,0.195467,0.0
2,1,2013-04-04 08:32:15,NaN,NaN,21315,3,4.5,1,2.20,0.0245,...,0.214286,0.155733,0.214286,0.208236,0.208487,0.188748,0.179428,0.180537,0.195467,0.0
3,1,2013-04-04 08:32:15,NaN,NaN,27348,2,4.0,1,2.83,0.0125,...,0.214286,0.155733,0.214286,0.208236,0.208487,0.188748,0.179428,0.180537,0.195467,0.0
4,1,2013-04-04 08:32:15,NaN,NaN,29604,4,3.5,1,2.64,0.1241,...,0.214286,0.155733,0.214286,0.208236,0.208487,0.188748,0.179428,0.180537,0.195467,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,703,2013-06-20 11:13:33,NaN,NaN,78064,3,4.5,1,2.08,0.1175,...,0.177634,0.155733,0.240000,0.208236,0.243243,0.181041,0.179428,0.180537,0.195467,0.0
9996,703,2013-06-20 11:13:33,NaN,NaN,79720,3,3.5,1,1.95,0.0423,...,0.177634,0.155733,0.240000,0.208236,0.243243,0.181041,0.179428,0.180537,0.195467,0.0
9997,703,2013-06-20 11:13:33,NaN,NaN,94363,3,4.0,1,1.39,NaN,...,0.177634,0.155733,0.240000,0.208236,0.243243,0.181041,0.179428,0.180537,0.195467,0.0
9998,703,2013-06-20 11:13:33,NaN,NaN,96276,2,NaN,0,0.69,NaN,...,0.177634,0.155733,0.240000,0.208236,0.243243,0.181041,0.179428,0.180537,0.195467,0.0
9999,703,2013-06-20 11:13:33,NaN,NaN,102941,0,2.5,1,2.20,NaN,...,0.177634,0.155733,0.240000,0.208236,0.243243,0.181041,0.179428,0.180537,0.195467,0.0

In [13]:
# add prop_id & search_id??
categorical_features = ['site_id', 'prop_country_id', 'visitor_location_country_id', 
                        'promotion_flag', 'srch_destination_id', 'srch_length_of_stay', 
                        'srch_booking_window', 'srch_adults_count', 'srch_children_count',
                        'srch_room_count', 'srch_saturday_night_bool', 'relevance'] 

# assumes that relevance target is already there 

# changing datatype 
# get all categorical features 
X = dummy_data[categorical_features]

alpha = 1

# X.to_csv('test.csv')

# let's just code it by hand :)
encoded_features = X.copy()

# overall target average 
overall_avg = X['relevance'].mean()

for var in X.drop('relevance', axis=1):
    # get all unique values 
    unique_values = X[var].unique()

    for value in unique_values:
        # get avg feature value per categorical value 
        matching_target_values = X.loc[X[var] == value, 'relevance']
        target_avg = matching_target_values.mean()
        # weighted average 
        weighted_avg = (alpha * target_avg + (1-alpha) * overall_avg) 
        # update encoded feature 
        encoded_features[var].replace(value, weighted_avg, inplace=True)

# replace df with encoded features 
dummy_data = dummy_data.drop(categorical_features, axis=1)
dummy_data[categorical_features] = encoded_features

dummy_data


# overall target average 
# overall_avg = X['relevance'].mean()


# weighted average of features specific & overall average 


# # fitting encoder 
# encoder = TargetEncoder()
# encoder.fit(X, y)

# X_encoded = encoder.transform(X)

# X_encoded.to_csv('test.csv')

# # TODO: check if this worked right

,srch_id,date_time,visitor_hist_starrating,visitor_hist_adr_usd,prop_id,prop_starrating,prop_review_score,prop_brand_bool,prop_location_score1,prop_location_score2,...,visitor_location_country_id,promotion_flag,srch_destination_id,srch_length_of_stay,srch_booking_window,srch_adults_count,srch_children_count,srch_room_count,srch_saturday_night_bool,relevance
0,1,2013-04-04 08:32:15,NaN,NaN,893,3,3.5,1,2.83,0.0438,...,0.214286,0.155733,0.214286,0.208236,0.208487,0.188748,0.179428,0.180537,0.195467,0.0
1,1,2013-04-04 08:32:15,NaN,NaN,10404,4,4.0,1,2.20,0.0149,...,0.214286,0.155733,0.214286,0.208236,0.208487,0.188748,0.179428,0.180537,0.195467,0.0
2,1,2013-04-04 08:32:15,NaN,NaN,21315,3,4.5,1,2.20,0.0245,...,0.214286,0.155733,0.214286,0.208236,0.208487,0.188748,0.179428,0.180537,0.195467,0.0
3,1,2013-04-04 08:32:15,NaN,NaN,27348,2,4.0,1,2.83,0.0125,...,0.214286,0.155733,0.214286,0.208236,0.208487,0.188748,0.179428,0.180537,0.195467,0.0
4,1,2013-04-04 08:32:15,NaN,NaN,29604,4,3.5,1,2.64,0.1241,...,0.214286,0.155733,0.214286,0.208236,0.208487,0.188748,0.179428,0.180537,0.195467,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,703,2013-06-20 11:13:33,NaN,NaN,78064,3,4.5,1,2.08,0.1175,...,0.177634,0.155733,0.240000,0.208236,0.243243,0.181041,0.179428,0.180537,0.195467,0.0
9996,703,2013-06-20 11:13:33,NaN,NaN,79720,3,3.5,1,1.95,0.0423,...,0.177634,0.155733,0.240000,0.208236,0.243243,0.181041,0.179428,0.180537,0.195467,0.0
9997,703,2013-06-20 11:13:33,NaN,NaN,94363,3,4.0,1,1.39,NaN,...,0.177634,0.155733,0.240000,0.208236,0.243243,0.181041,0.179428,0.180537,0.195467,0.0
9998,703,2013-06-20 11:13:33,NaN,NaN,96276,2,NaN,0,0.69,NaN,...,0.177634,0.155733,0.240000,0.208236,0.243243,0.181041,0.179428,0.180537,0.195467,0.0
9999,703,2013-06-20 11:13:33,NaN,NaN,102941,0,2.5,1,2.20,NaN,...,0.177634,0.155733,0.240000,0.208236,0.243243,0.181041,0.179428,0.180537,0.195467,0.0

idea is to convert categorical features into numerical featues 

NOTES: crucial for KNN!!
       LambdaMART is primarily designed to work with numerical features 
       -> google more advantages (& disadvantages)

think he does -> weighted average of target encoding (ie. average value for that feature) & overall average value of the target 
-> probably an overfitting tradeoff mechanism 

workflow:

- find out which features are categorical 
- make list of these features 
- for each category, get the avearge value of the target 
- get the overall average value of the target 
- do weighted average of both for each row

#### downsampling function

2 kinds of ways to downsample: 

- remove srch queries that only have 0s -> this scenario doesn't seem to exist 
- remove some 0 rows from srch queries that have positive values 
- NOTE: the srch_id lengths are all different 

- NOTE: with alpha=0.1, a lot of groups end up having 1 instance 
    -> if this is a problem, implement measure to balance out query class value ratios

In [16]:
# dummy_data.to_csv('ryo_test.csv')

In [17]:
dummy_data
# do for loop TODO 
# label rates - only 1,5 & 6
null_rate = dummy_data['relevance'].value_counts()[0] / len(dummy_data)
click_rate = dummy_data['relevance'].value_counts()[1] / len(dummy_data)
book_rate = dummy_data['relevance'].value_counts()[6] / len(dummy_data)

print(null_rate, click_rate, book_rate)

with_replacement = False 

# class to downsample 
class_val = 0

# param alpha -> what percentage of the downsample class do we take? 
alpha = 0.5
# n_srch_id = dummy_data['srch_id'].nunique()
n_samples = round( dummy_data['relevance'].value_counts()[0] * alpha )

n_samples 

# filter the DataFrame for the desired class and then perform random downsampling 
downsampled_df = dummy_data[dummy_data['relevance'] == class_val].sample(n_samples, replace=with_replacement)
# filter the DataFrame for the remaining class values
remaining_df = dummy_data[dummy_data['relevance'] != class_val]
# concatenate the downsampled subset with the remaining rows
result_df = pd.concat([downsampled_df, remaining_df])

result_df

# label rates - only 1,5 & 6
null_rate = result_df['relevance'].value_counts()[0] / len(result_df)
click_rate = result_df['relevance'].value_counts()[1] / len(result_df)
book_rate = result_df['relevance'].value_counts()[6] / len(result_df)

print(null_rate, click_rate, book_rate)

0.9543 0.0176 0.0281
0.9126027921208644 0.03365844329699751 0.053738764582138075

In [18]:
# code to inspect groups 
grouped = result_df.groupby('srch_id')
# Iterate over the groups and print the values of the variable_of_interest
for group, group_df in grouped:
    print(f"Group: {group}")
    print(group_df['relevance'])
    print("\n")
    print(len(group_df['relevance']) )

Group: 1
14    0.0
3     0.0
15    0.0
19    0.0
22    0.0
2     0.0
16    0.0
18    0.0
11    0.0
26    0.0
21    0.0
27    0.0
24    0.0
9     0.0
12    6.0
Name: relevance, dtype: float64


15
Group: 4
42    0.0
45    0.0
46    0.0
47    0.0
33    0.0
54    0.0
43    0.0
53    0.0
52    0.0
28    0.0
41    0.0
30    0.0
31    0.0
51    0.0
44    0.0
59    1.0
Name: relevance, dtype: float64


16
Group: 6
61    0.0
64    0.0
60    0.0
63    6.0
Name: relevance, dtype: float64


4
Group: 8
83    0.0
77    0.0
73    0.0
79    0.0
75    0.0
81    0.0
71    0.0
80    0.0
84    0.0
68    6.0
Name: relevance, dtype: float64


10
Group: 11
103    0.0
107    0.0
116    0.0
100    0.0
93     0.0
95     0.0
92     0.0
115    0.0
105    0.0
102    0.0
96     0.0
114    0.0
112    0.0
88     0.0
101    0.0
106    0.0
110    0.0
90     1.0
Name: relevance, dtype: float64


18
Group: 12
139    0.0
140    0.0
121    0.0
134    0.0
132    0.0
141    0.0
146    0.0
144    0.0
120    0.0
123    0.0
133    0.0
131    0.0
145    1.0
Name: relevance, dtype: float64


13
Group: 17
174    0.0
172    0.0
150    0.0
166    0.0
155    0.0
167    0.0
171    0.0
149    0.0
153    0.0
164    0.0
175    0.0
158    0.0
161    0.0
159    0.0
151    0.0
170    0.0
165    0.0
147    0.0
168    1.0
Name: relevance, dtype: float64


19
Group: 21
188    0.0
206    0.0
186    0.0
178    0.0
182    0.0
184    0.0
203    0.0
189    0.0
202    0.0
198    0.0
179    0.0
201    0.0
193    0.0
194    6.0
Name: relevance, dtype: float64


14
Group: 25
212    0.0
235    0.0
230    0.0
222    0.0
231    0.0
233    0.0
221    0.0
215    0.0
216    0.0
209    0.0
211    6.0
Name: relevance, dtype: float64


11
Group: 28
261    0.0
269    0.0
258    0.0
271    0.0
262    0.0
259    0.0
266    0.0
267    0.0
250    0.0
253    0.0
244    0.0
257    0.0
242    0.0
251    0.0
243    6.0
Name: relevance, dtype: float64


15
Group: 29
280    0.0
285    0.0
287    0.0
275    0.0
276    0.0
277    0.0
274    6.0
Name: relevance, dtype: float64


7
Group: 30
310    0.0
299    0.0
309    0.0
296    0.0
294    0.0
307    0.0
314    0.0
306    0.0
311    0.0
295    0.0
305    0.0
312    6.0
Name: relevance, dtype: float64


12
Group: 31
318    0.0
323    0.0
334    0.0
322    0.0
341    0.0
320    0.0
326    0.0
330    0.0
328    0.0
333    0.0
327    0.0
319    1.0
Name: relevance, dtype: float64


12
Group: 36
358    0.0
349    0.0
353    0.0
347    0.0
369    0.0
365    0.0
354    0.0
344    0.0
359    0.0
364    0.0
363    0.0
370    0.0
350    0.0
355    0.0
346    6.0
Name: relevance, dtype: float64


15
Group: 39
382    0.0
384    0.0
390    0.0
380    0.0
375    0.0
372    0.0
388    0.0
374    0.0
377    0.0
385    0.0
387    6.0
Name: relevance, dtype: float64


11
Group: 40
415    0.0
394    0.0
401    0.0
407    0.0
422    0.0
393    0.0
403    0.0
418    0.0
412    0.0
411    0.0
405    0.0
400    0.0
391    0.0
417    0.0
409    0.0
413    0.0
421    0.0
402    1.0
Name: relevance, dtype: float64


18
Group: 42
432    0.0
433    0.0
426    0.0
431    0.0
430    0.0
425    1.0
427    1.0
428    6.0
Name: relevance, dtype: float64


8
Group: 43
455    0.0
441    0.0
448    0.0
465    0.0
443    0.0
438    0.0
442    0.0
452    0.0
434    0.0
453    0.0
447    0.0
440    0.0
460    0.0
435    0.0
437    0.0
450    0.0
461    0.0
457    1.0
Name: relevance, dtype: float64


18
Group: 44
491    0.0
476    0.0
494    0.0
469    0.0
485    0.0
479    0.0
484    0.0
482    0.0
489    0.0
477    0.0
466    0.0
467    6.0
Name: relevance, dtype: float64


12
Group: 45
515    0.0
511    0.0
504    0.0
505    0.0
517    0.0
508    0.0
510    0.0
507    0.0
499    0.0
498    0.0
509    6.0
Name: relevance, dtype: float64


11
Group: 46
525    0.0
520    0.0
518    0.0
523    0.0
535    0.0
549    0.0
546    0.0
534    0.0
540    0.0
528    0.0
524    0.0
547    0.0
539    0.0
532    0.0
548    0.0
530    0.0
522    1.0
542    1.0
543    6.0
Name: relevance, dtype: float64


19
Group: 47
575    0.0
569    0.0
550    0.0
552    0.0
570    0.0
566    0.0
577    0.0
555    0.0
573    0.0
553    0.0
563    0.0
554    0.0
580    0.0
559    0.0
574    0.0
556    0.0
576    0.0
579    0.0
568    6.0
Name: relevance, dtype: float64


19
Group: 49
584    0.0
591    0.0
612    0.0
613    0.0
583    0.0
608    0.0
604    0.0
603    0.0
598    0.0
597    0.0
592    0.0
587    0.0
581    0.0
588    0.0
599    0.0
609    0.0
601    0.0
582    0.0
586    6.0
Name: relevance, dtype: float64


19
Group: 52
629    0.0
616    0.0
634    0.0
641    0.0
630    0.0
633    0.0
639    0.0
627    0.0
622    0.0
625    0.0
642    0.0
628    0.0
626    0.0
631    0.0
636    0.0
624    6.0
Name: relevance, dtype: float64


16
Group: 53
655    0.0
646    0.0
647    0.0
654    0.0
652    0.0
651    0.0
653    6.0
Name: relevance, dtype: float64


7
Group: 56
660    0.0
659    0.0
658    0.0
661    1.0
Name: relevance, dtype: float64


4
Group: 57
671    0.0
664    0.0
666    0.0
686    0.0
675    0.0
676    0.0
668    0.0
665    0.0
684    0.0
677    0.0
689    0.0
681    0.0
687    0.0
688    0.0
690    6.0
Name: relevance, dtype: float64


15
Group: 60
695    0.0
714    0.0
697    0.0
722    0.0
709    0.0
723    0.0
716    0.0
692    0.0
720    0.0
705    0.0
706    0.0
719    0.0
715    0.0
693    6.0
Name: relevance, dtype: float64


14
Group: 61
728    0.0
725    0.0
729    0.0
731    0.0
732    0.0
730    0.0
734    1.0
Name: relevance, dtype: float64


7
Group: 63
737    0.0
742    0.0
745    0.0
741    0.0
746    0.0
743    1.0
Name: relevance, dtype: float64


6
Group: 64
754    0.0
768    0.0
757    0.0
760    0.0
780    0.0
782    0.0
772    0.0
771    0.0
767    0.0
750    0.0
761    0.0
765    0.0
753    0.0
755    0.0
762    0.0
775    0.0
752    0.0
776    0.0
759    0.0
763    0.0
773    6.0
Name: relevance, dtype: float64


21
Group: 65
800    0.0
794    0.0
813    0.0
815    0.0
812    0.0
802    0.0
788    0.0
785    0.0
784    0.0
790    0.0
804    0.0
797    0.0
801    1.0
Name: relevance, dtype: float64


13
Group: 66
846    0.0
845    0.0
835    0.0
832    0.0
850    0.0
841    0.0
842    0.0
817    0.0
838    0.0
831    0.0
828    0.0
837    0.0
819    0.0
849    0.0
836    0.0
823    0.0
822    0.0
826    6.0
Name: relevance, dtype: float64


18
Group: 67
854    0.0
852    0.0
853    6.0
Name: relevance, dtype: float64


3
Group: 71
858    0.0
857    0.0
864    0.0
870    0.0
867    0.0
872    0.0
881    0.0
863    0.0
879    0.0
882    0.0
862    0.0
859    0.0
883    1.0
Name: relevance, dtype: float64


13
Group: 72
912    0.0
888    0.0
913    0.0
901    0.0
886    0.0
889    0.0
908    0.0
890    0.0
911    0.0
896    0.0
905    0.0
904    0.0
899    6.0
Name: relevance, dtype: float64


13
Group: 73
920    0.0
916    0.0
928    0.0
934    0.0
930    0.0
933    0.0
923    0.0
929    0.0
931    6.0
Name: relevance, dtype: float64


9
Group: 74
942    0.0
948    0.0
958    0.0
954    0.0
947    0.0
941    0.0
950    0.0
946    0.0
956    0.0
952    0.0
951    0.0
937    0.0
940    0.0
944    6.0
Name: relevance, dtype: float64


14
Group: 75
964    0.0
985    0.0
961    0.0
965    0.0
970    0.0
968    0.0
976    0.0
980    0.0
990    0.0
959    0.0
960    0.0
983    0.0
971    0.0
972    0.0
982    0.0
987    0.0
967    0.0
989    0.0
974    0.0
991    0.0
966    0.0
963    0.0
988    6.0
Name: relevance, dtype: float64


23
Group: 78
1015    0.0
1020    0.0
1016    0.0
1019    0.0
1021    0.0
1005    0.0
1002    0.0
1013    0.0
993     0.0
1017    0.0
1022    6.0
Name: relevance, dtype: float64


11
Group: 79
1052    0.0
1046    0.0
1024    0.0
1044    0.0
1035    0.0
1045    0.0
1041    0.0
1051    0.0
1034    0.0
1053    0.0
1048    0.0
1037    0.0
1042    0.0
1043    0.0
1047    0.0
1054    6.0
Name: relevance, dtype: float64


16
Group: 80
1074    0.0
1076    0.0
1055    0.0
1069    0.0
1079    0.0
1075    0.0
1056    0.0
1083    0.0
1078    0.0
1070    0.0
1061    0.0
1068    0.0
1086    0.0
1057    0.0
1082    6.0
Name: relevance, dtype: float64


15
Group: 81
1116    0.0
1088    0.0
1096    0.0
1092    0.0
1120    0.0
1109    0.0
1101    0.0
1112    0.0
1119    0.0
1099    0.0
1105    0.0
1090    0.0
1121    0.0
1098    0.0
1122    0.0
1104    0.0
1111    1.0
Name: relevance, dtype: float64


17
Group: 82
1127    0.0
1128    0.0
1131    0.0
1124    0.0
1130    0.0
1129    6.0
Name: relevance, dtype: float64


6
Group: 83
1133    0.0
1142    0.0
1148    0.0
1151    0.0
1154    0.0
1146    0.0
1156    0.0
1155    0.0
1140    0.0
1143    0.0
1136    0.0
1152    0.0
1139    0.0
1150    0.0
1147    0.0
1157    1.0
Name: relevance, dtype: float64


16
Group: 84
1174    0.0
1175    0.0
1176    0.0
1173    0.0
1180    0.0
1164    0.0
1169    0.0
1177    0.0
1179    0.0
1172    0.0
1167    0.0
1185    0.0
1165    6.0
Name: relevance, dtype: float64


13
Group: 85
1190    0.0
1187    0.0
1186    0.0
1198    0.0
1194    0.0
1195    0.0
1188    0.0
1192    0.0
1197    6.0
Name: relevance, dtype: float64


9
Group: 87
1223    0.0
1215    0.0
1230    0.0
1220    0.0
1207    0.0
1214    0.0
1227    0.0
1216    0.0
1217    0.0
1228    0.0
1201    0.0
1210    0.0
1222    0.0
1211    0.0
1203    0.0
1225    0.0
1206    6.0
Name: relevance, dtype: float64


17
Group: 90
1241    0.0
1234    0.0
1235    0.0
1243    0.0
1260    0.0
1246    0.0
1264    0.0
1250    0.0
1233    0.0
1239    0.0
1256    0.0
1247    0.0
1259    0.0
1254    0.0
1252    0.0
1262    0.0
1240    0.0
1232    0.0
1251    0.0
1257    1.0
Name: relevance, dtype: float64


20
Group: 93
1290    0.0
1285    0.0
1274    0.0
1276    0.0
1294    0.0
1275    0.0
1291    0.0
1281    0.0
1280    0.0
1265    0.0
1292    0.0
1278    0.0
1268    0.0
1273    0.0
1286    6.0
Name: relevance, dtype: float64


15
Group: 94
1315    0.0
1328    0.0
1303    0.0
1313    0.0
1316    0.0
1327    0.0
1325    0.0
1323    0.0
1310    0.0
1307    0.0
1312    0.0
1309    0.0
1308    6.0
Name: relevance, dtype: float64


13
Group: 96
1334    0.0
1329    0.0
1332    0.0
1349    0.0
1350    0.0
1346    0.0
1331    0.0
1333    0.0
1335    0.0
1337    0.0
1351    0.0
1330    0.0
1353    0.0
1338    0.0
1336    0.0
1339    0.0
1357    0.0
1344    0.0
1355    0.0
1354    1.0
Name: relevance, dtype: float64


20
Group: 97
1368    0.0
1388    0.0
1371    0.0
1384    0.0
1389    0.0
1377    0.0
1386    0.0
1381    0.0
1367    0.0
1387    0.0
1373    0.0
1372    0.0
1359    0.0
1369    0.0
1380    0.0
1370    0.0
1363    6.0
Name: relevance, dtype: float64


17
Group: 99
1405    0.0
1406    0.0
1411    0.0
1413    0.0
1400    0.0
1404    0.0
1398    0.0
1408    0.0
1402    0.0
1393    0.0
1396    0.0
1403    0.0
1394    0.0
1410    0.0
1397    6.0
Name: relevance, dtype: float64


15
Group: 101
1438    0.0
1421    0.0
1434    0.0
1437    0.0
1436    0.0
1417    0.0
1439    0.0
1432    0.0
1419    0.0
1440    0.0
1418    0.0
1431    0.0
1426    0.0
1442    0.0
1448    6.0
Name: relevance, dtype: float64


15
Group: 102
1472    0.0
1466    0.0
1462    0.0
1468    0.0
1463    0.0
1475    0.0
1451    0.0
1454    0.0
1470    0.0
1461    0.0
1476    0.0
1449    0.0
1458    0.0
1465    6.0
Name: relevance, dtype: float64


14
Group: 103
1491    0.0
1485    0.0
1486    0.0
1488    0.0
1483    1.0
Name: relevance, dtype: float64


5
Group: 104
1495    0.0
1498    0.0
1494    0.0
1493    6.0
Name: relevance, dtype: float64


4
Group: 106
1511    0.0
1512    0.0
1505    0.0
1500    0.0
1507    0.0
1506    0.0
1516    0.0
1504    0.0
1514    0.0
1499    0.0
1501    0.0
1503    6.0
1513    1.0
Name: relevance, dtype: float64


13
Group: 107
1536    0.0
1538    0.0
1545    0.0
1522    0.0
1525    0.0
1523    0.0
1549    0.0
1548    0.0
1534    0.0
1551    0.0
1519    0.0
1526    0.0
1529    0.0
1541    0.0
1528    0.0
1539    0.0
1531    1.0
Name: relevance, dtype: float64


17
Group: 108
1558    0.0
1560    1.0
Name: relevance, dtype: float64


2
Group: 109
1567    0.0
1562    0.0
1564    0.0
1563    0.0
1566    1.0
Name: relevance, dtype: float64


5
Group: 110
1599    0.0
1594    0.0
1600    0.0
1581    0.0
1582    0.0
1592    0.0
1571    0.0
1569    0.0
1591    0.0
1589    0.0
1574    0.0
1588    0.0
1578    0.0
1590    0.0
1577    0.0
1586    0.0
1596    6.0
Name: relevance, dtype: float64


17
Group: 111
1620    0.0
1602    0.0
1619    0.0
1613    0.0
1615    0.0
1624    0.0
1616    0.0
1603    0.0
1623    0.0
1601    0.0
1621    0.0
1617    0.0
1609    0.0
1606    0.0
1604    0.0
1607    0.0
1618    6.0
Name: relevance, dtype: float64


17
Group: 112
1631    0.0
1644    0.0
1635    0.0
1627    0.0
1643    0.0
1628    0.0
1645    0.0
1629    0.0
1637    0.0
1639    6.0
Name: relevance, dtype: float64


10
Group: 113
1651    0.0
1656    0.0
1670    0.0
1673    0.0
1662    0.0
1679    0.0
1678    0.0
1660    0.0
1653    0.0
1668    0.0
1677    0.0
1655    0.0
1672    6.0
Name: relevance, dtype: float64


13
Group: 114
1694    0.0
1710    0.0
1709    0.0
1689    0.0
1699    0.0
1701    0.0
1712    0.0
1697    0.0
1691    0.0
1702    0.0
1700    0.0
1704    0.0
1711    0.0
1693    0.0
1703    0.0
1688    0.0
1713    6.0
Name: relevance, dtype: float64


17
Group: 115
1720    0.0
1728    0.0
1714    0.0
1722    0.0
1717    0.0
1718    0.0
1724    0.0
1725    0.0
1716    6.0
Name: relevance, dtype: float64


9
Group: 116
1735    0.0
1732    0.0
1747    0.0
1738    0.0
1731    0.0
1733    0.0
1746    0.0
1739    0.0
1730    0.0
1742    0.0
1740    0.0
1737    0.0
1736    6.0
Name: relevance, dtype: float64


13
Group: 117
1760    0.0
1750    0.0
1757    0.0
1748    0.0
1755    0.0
1764    0.0
1756    0.0
1753    6.0
Name: relevance, dtype: float64


8
Group: 118
1769    0.0
1793    0.0
1770    0.0
1789    0.0
1781    0.0
1794    0.0
1765    0.0
1776    0.0
1766    0.0
1774    0.0
1777    0.0
1768    0.0
1786    6.0
Name: relevance, dtype: float64


13
Group: 119
1799    0.0
1803    0.0
1804    0.0
1805    0.0
1797    0.0
1798    0.0
1796    0.0
1800    1.0
Name: relevance, dtype: float64


8
Group: 120
1825    0.0
1816    0.0
1820    0.0
1824    0.0
1809    0.0
1827    0.0
1811    0.0
1808    0.0
1807    0.0
1817    0.0
1812    6.0
Name: relevance, dtype: float64


11
Group: 123
1841    0.0
1855    0.0
1850    0.0
1843    0.0
1848    0.0
1849    0.0
1851    0.0
1859    0.0
1831    0.0
1840    0.0
1837    0.0
1833    0.0
1852    6.0
Name: relevance, dtype: float64


13
Group: 124
1881    0.0
1873    0.0
1888    0.0
1864    0.0
1879    0.0
1872    0.0
1890    0.0
1892    0.0
1867    0.0
1877    0.0
1866    0.0
1883    0.0
1865    6.0
Name: relevance, dtype: float64


13
Group: 126
1909    0.0
1896    0.0
1906    0.0
1899    0.0
1895    0.0
1908    0.0
1912    0.0
1905    0.0
1900    0.0
1911    1.0
1915    1.0
Name: relevance, dtype: float64


11
Group: 127
1922    0.0
1921    0.0
1920    0.0
1916    1.0
Name: relevance, dtype: float64


4
Group: 128
1924    0.0
1932    0.0
1930    0.0
1950    0.0
1941    0.0
1938    0.0
1935    0.0
1939    0.0
1931    0.0
1952    0.0
1949    0.0
1936    0.0
1933    0.0
1954    0.0
1942    0.0
1946    6.0
Name: relevance, dtype: float64


16
Group: 129
1970    0.0
1958    0.0
1977    0.0
1981    0.0
1971    0.0
1965    0.0
1987    0.0
1962    0.0
1984    0.0
1973    0.0
1986    0.0
1978    0.0
1968    0.0
1985    0.0
1979    6.0
Name: relevance, dtype: float64


15
Group: 131
1996    0.0
2004    0.0
2010    0.0
2002    0.0
2015    0.0
2007    0.0
2009    0.0
1998    0.0
1992    0.0
1989    0.0
1993    0.0
1991    0.0
1990    0.0
1997    0.0
1999    6.0
Name: relevance, dtype: float64


15
Group: 133
2033    0.0
2024    0.0
2035    0.0
2020    0.0
2043    0.0
2039    0.0
2045    0.0
2041    0.0
2034    0.0
2048    0.0
2044    0.0
2031    0.0
2047    0.0
2023    0.0
2027    0.0
2037    0.0
2030    1.0
Name: relevance, dtype: float64


17
Group: 134
2074    0.0
2068    0.0
2054    0.0
2064    0.0
2055    0.0
2056    0.0
2050    0.0
2066    0.0
2063    0.0
2071    0.0
2065    0.0
2080    0.0
2078    1.0
Name: relevance, dtype: float64


13
Group: 135
2084    0.0
2088    0.0
2087    0.0
2086    0.0
2081    0.0
2082    0.0
2092    6.0
Name: relevance, dtype: float64


7
Group: 136
2118    0.0
2093    0.0
2102    0.0
2116    0.0
2104    0.0
2114    0.0
2100    0.0
2111    0.0
2105    0.0
2103    1.0
Name: relevance, dtype: float64


10
Group: 138
2134    0.0
2120    0.0
2131    0.0
2119    0.0
2125    0.0
2128    0.0
2127    1.0
Name: relevance, dtype: float64


7
Group: 139
2142    0.0
2144    0.0
2137    0.0
2139    0.0
2147    0.0
2140    0.0
2143    0.0
2145    0.0
2148    0.0
2149    1.0
Name: relevance, dtype: float64


10
Group: 140
2164    0.0
2178    0.0
2167    0.0
2175    0.0
2181    0.0
2174    0.0
2166    0.0
2161    0.0
2169    0.0
2155    0.0
2150    1.0
Name: relevance, dtype: float64


11
Group: 143
2188    0.0
2187    0.0
2183    0.0
2186    0.0
2185    6.0
Name: relevance, dtype: float64


5
Group: 144
2204    0.0
2199    0.0
2198    0.0
2192    0.0
2196    0.0
2203    0.0
2200    0.0
2190    6.0
Name: relevance, dtype: float64


8
Group: 145
2217    0.0
2225    0.0
2223    0.0
2218    0.0
2221    0.0
2213    0.0
2231    0.0
2215    0.0
2233    0.0
2226    0.0
2230    0.0
2210    0.0
2211    0.0
2232    1.0
Name: relevance, dtype: float64


14
Group: 146
2248    0.0
2250    0.0
2239    0.0
2247    0.0
2251    0.0
2237    0.0
2241    0.0
2249    0.0
2243    0.0
2242    6.0
Name: relevance, dtype: float64


10
Group: 147
2255    0.0
2270    0.0
2280    0.0
2271    0.0
2265    0.0
2256    0.0
2268    0.0
2276    0.0
2254    0.0
2278    0.0
2253    0.0
2273    0.0
2263    0.0
2282    0.0
2258    1.0
Name: relevance, dtype: float64


15
Group: 148
2292    0.0
2307    0.0
2287    0.0
2317    0.0
2304    0.0
2294    0.0
2303    0.0
2299    0.0
2291    0.0
2310    0.0
2295    0.0
2288    0.0
2309    0.0
2302    0.0
2290    1.0
Name: relevance, dtype: float64


15
Group: 151
2319    0.0
2318    0.0
2323    0.0
2322    6.0
Name: relevance, dtype: float64


4
Group: 152
2335    0.0
2350    0.0
2334    0.0
2328    0.0
2352    0.0
2348    0.0
2347    0.0
2326    0.0
2349    0.0
2332    0.0
2337    0.0
2344    0.0
2331    0.0
2324    0.0
2327    0.0
2353    0.0
2340    0.0
2342    0.0
2330    1.0
Name: relevance, dtype: float64


19
Group: 157
2360    0.0
2359    0.0
2372    0.0
2370    0.0
2363    0.0
2367    0.0
2369    0.0
2365    0.0
2364    0.0
2362    0.0
2374    0.0
2371    0.0
2368    0.0
2366    1.0
Name: relevance, dtype: float64


14
Group: 158
2396    0.0
2401    0.0
2382    0.0
2383    0.0
2379    0.0
2398    0.0
2404    0.0
2403    0.0
2397    0.0
2388    0.0
2402    0.0
2387    0.0
2395    0.0
2391    0.0
2380    0.0
2400    1.0
Name: relevance, dtype: float64


16
Group: 159
2430    0.0
2417    0.0
2420    0.0
2416    0.0
2410    0.0
2425    0.0
2427    0.0
2419    0.0
2432    0.0
2408    0.0
2414    0.0
2413    0.0
2431    6.0
Name: relevance, dtype: float64


13
Group: 160
2456    0.0
2442    0.0
2453    0.0
2441    0.0
2438    0.0
2433    0.0
2449    0.0
2446    0.0
2444    0.0
2435    0.0
2440    0.0
2451    0.0
2447    0.0
2439    0.0
2443    0.0
2436    1.0
2458    1.0
Name: relevance, dtype: float64


17
Group: 161
2478    0.0
2467    0.0
2474    0.0
2466    0.0
2469    0.0
2490    0.0
2476    0.0
2459    0.0
2465    0.0
2483    0.0
2491    0.0
2487    0.0
2482    0.0
2461    0.0
2488    0.0
2472    0.0
2464    1.0
Name: relevance, dtype: float64


17
Group: 162
2492    0.0
2500    0.0
2496    0.0
2497    0.0
2498    0.0
2495    1.0
Name: relevance, dtype: float64


6
Group: 163
2503    0.0
2505    0.0
2501    0.0
2502    0.0
2507    0.0
2508    6.0
Name: relevance, dtype: float64


6
Group: 165
2534    0.0
2514    0.0
2512    0.0
2509    0.0
2515    0.0
2541    0.0
2531    0.0
2528    0.0
2521    0.0
2539    0.0
2532    0.0
2529    0.0
2522    0.0
2516    0.0
2533    0.0
2524    0.0
2535    0.0
2517    0.0
2510    0.0
2526    6.0
Name: relevance, dtype: float64


20
Group: 168
2565    0.0
2544    0.0
2574    0.0