In [1]:
import pandas as pd 
import matplotlib.pyplot as plt 
import itertools
import functions as fn

In [2]:
data = pd.read_csv('/Users/ryonamba/Documents/VU/VU-master_year_1/data_mining/assignment_2/code_personal/training_set_VU_DM.csv')
data_test = pd.read_csv('/Users/ryonamba/Documents/VU/VU-master_year_1/data_mining/assignment_2/code_personal/test_set_VU_DM.csv')

In [3]:
data

,srch_id,date_time,site_id,visitor_location_country_id,visitor_hist_starrating,visitor_hist_adr_usd,prop_country_id,prop_id,prop_starrating,prop_review_score,...,comp6_rate_percent_diff,comp7_rate,comp7_inv,comp7_rate_percent_diff,comp8_rate,comp8_inv,comp8_rate_percent_diff,click_bool,gross_bookings_usd,booking_bool
0,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,893,3,3.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
1,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,10404,4,4.0,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
2,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,21315,3,4.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
3,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,27348,2,4.0,...,NaN,NaN,NaN,NaN,-1.0,0.0,5.0,0,NaN,0
4,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,29604,4,3.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4958342,332785,2013-06-30 19:55:18,5,219,NaN,NaN,219,77700,3,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0
4958343,332785,2013-06-30 19:55:18,5,219,NaN,NaN,219,88083,3,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0
4958344,332785,2013-06-30 19:55:18,5,219,NaN,NaN,219,94508,3,3.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0
4958345,332785,2013-06-30 19:55:18,5,219,NaN,NaN,219,128360,3,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,157.84,1
4958346,332785,2013-06-30 19:55:18,5,219,NaN,NaN,219,134949,3,2.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0

In [4]:
agg_data = fn.comp_aggregation(data)
agg_data

,srch_id,date_time,site_id,visitor_location_country_id,visitor_hist_starrating,visitor_hist_adr_usd,prop_country_id,prop_id,prop_starrating,prop_review_score,...,srch_room_count,srch_saturday_night_bool,srch_query_affinity_score,orig_destination_distance,random_bool,click_bool,gross_bookings_usd,booking_bool,comp_rate_ratio,comp_inv_ratio
0,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,893,3,3.5,...,1,1,NaN,NaN,1,0,NaN,0,0.00,0.00
1,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,10404,4,4.0,...,1,1,NaN,NaN,1,0,NaN,0,0.00,0.00
2,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,21315,3,4.5,...,1,1,NaN,NaN,1,0,NaN,0,0.00,0.00
3,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,27348,2,4.0,...,1,1,NaN,NaN,1,0,NaN,0,-0.75,-0.75
4,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,29604,4,3.5,...,1,1,NaN,NaN,1,0,NaN,0,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4958342,332785,2013-06-30 19:55:18,5,219,NaN,NaN,219,77700,3,4.0,...,1,0,NaN,550.92,0,0,NaN,0,0.00,0.00
4958343,332785,2013-06-30 19:55:18,5,219,NaN,NaN,219,88083,3,4.0,...,1,0,NaN,553.14,0,0,NaN,0,0.00,0.00
4958344,332785,2013-06-30 19:55:18,5,219,NaN,NaN,219,94508,3,3.5,...,1,0,NaN,544.43,0,0,NaN,0,0.00,0.00
4958345,332785,2013-06-30 19:55:18,5,219,NaN,NaN,219,128360,3,5.0,...,1,0,NaN,550.38,0,1,157.84,1,0.00,0.00
4958346,332785,2013-06-30 19:55:18,5,219,NaN,NaN,219,134949,3,2.5,...,1,0,NaN,583.25,0,0,NaN,0,0.00,0.00

22